APP_ENV=dev
APP_SECRET=
DATABASE_URL="postgresql://app:password@db:5432/futurekawa_siege?serverVersion=16&charset=utf8"
JWT_SECRET_KEY=%kernel.project_dir%/config/jwt/private.pem
JWT_PUBLIC_KEY=%kernel.project_dir%/config/jwt/public.pem
JWT_PASSPHRASE=
MAILER_DSN=null://null
ALERT_TEMP_TOLERANCE=3
ALERT_HUMIDITY_TOLERANCE=2
