APP_ENV=prod
APP_SECRET=change_me_32_chars_minimum

POSTGRES_DB=futurekawa_siege
POSTGRES_USER=app
POSTGRES_PASSWORD=changeme

DATABASE_URL="postgresql://app:changeme@db:5432/futurekawa_siege?serverVersion=16&charset=utf8"

JWT_SECRET_KEY=%kernel.project_dir%/config/jwt/private.pem
JWT_PUBLIC_KEY=%kernel.project_dir%/config/jwt/public.pem
JWT_PASSPHRASE=change_me_in_production

MAILER_DSN=null://null
MESSENGER_TRANSPORT_DSN=doctrine://default?auto_setup=0

ALERT_TEMP_TOLERANCE=3
ALERT_HUMIDITY_TOLERANCE=2
